# Default values for Flask Hello World API
replicaCount: 2

image:
  repository: shreyaskn72/hello-world  # change to your Docker Hub image
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 5000

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: hello.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources: {}
